{{ partial "head" . }}
<body>
{{ partial "header" . }}
<article>
    <div class="lbox">
    <div class="whitebg">
        <h2 class="htitle">往期文章</h2>
        <ul class="layui-timeline">
            {{ range (where (where .Site.Pages "Type" "in" (slice "post" "posts")) "Kind" "page").GroupByDate "2006" }}
            {{ range .Pages }}
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title">{{ .Date.Format "2006-01-02" }}   <a href="{{ .Permalink }}" target="_blank" title="{{ .Title }}">{{ .Title }}</a></div>
                </div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
    </div>
    <div class="rbox">
        {{ partial "sidebar" . }}
    </div>
</article>
{{ partial "footer" . }}
</body>
</html>
