<div class="card">
    <h2>我的名片</h2>
    <p>网名：肖司机</p>
    <p>职业：Gopher</p>
    <p>现居：深圳市</p>
    <p>Email：job@ainiok.com</p>
    <ul class="linkmore">
        <li>
            <a href="http://www.ainiok.com" target="_blank" title="网站地址">
                <i class="layui-icon layui-icon-website" style="color: #ef5509;"></i>
            </a>
        </li>
        <li>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=763303918&site=qq&menu=yes" target="_blank" title="QQ联系我">
                <i class="layui-icon layui-icon-login-qq" style="color: #1E9FFF;"></i>
            </a>
        </li>
        <li id="weixin">
            <a href="#" target="_blank" title="我的微信">
                <i class="layui-icon layui-icon-login-wechat" style="color: #07AF12;"></i></a>
            <span><img src="{{ "images/wx.png" | relURL }}"></span>
        </li>
    </ul>
</div>