{{ partial "head" . }}
<body>
{{ partial "header" . }}
<article>
    <div class="lbox">
        <div class="whitebg bloglist">
            <h2 class="htitle">文章列表</h2>
            <ul>
                {{ range $index,$data := .Paginator.Pages }}
                {{ if not .Params.hidden }}
                <li>
                    <h3 class="blogtitle">
                        <a href="{{ .Permalink }}" target="_blank" title="{{ .Title }}">{{ .Title }}</a>
                    </h3>
                    <p class="blogtext">{{ .Summary }}……</p>
                    <p class="bloginfo">
                        <span class="avatar"><img src="{{ "images/avatar.jpg" | relURL }}" alt=""></span>
                        <span>ainiok</span>
                        <span>{{ .Date.Year }}年{{ printf "%d" .Date.Month }}月{{ .Date.Day }}日</span>
                        <span>
                            {{ with .Params.Categories }}
                            【<a href="{{ "/categories/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>】
                            {{ end }}
                        </span>
                    </p>
                    <a href="{{ .Permalink }}" class="viewmore">阅读更多</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
        {{ partial "paginator" . }}
    </div>
    <div class="rbox">
        {{ partial "sidebar" . }}
    </div>
</article>
{{ partial "footer" . }}

</body>
</html>
